#desktop-view h1:hover {
    text-shadow: 0.45rem 0.45rem 0 var(--black);
    transform: translate(-0.1rem, -0.1rem);
}

#desktop-view h1:active {
    text-shadow: none;
    transform: translate(0.3rem, 0.3rem);
}

#desktop-view a span:hover {
    text-shadow: 0.3rem 0.3rem 0 var(--black);
    transform: translate(-0.1rem, -0.1rem);
}

#desktop-view a span:active {
    text-shadow: none;
    transform: translate(0.1rem, 0.1rem);
}

#desktop-view header {
    display: flex;
    align-items: center;
    height: 128px;
}

#desktop-view header * {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

#desktop-view header #header-logo {
    flex: 1;
    background-color: var(--primary-main);
}

#desktop-view header nav a {
    padding: 0 1.5rem;
}

#desktop-view header #header-button {
    width: 25vw;
    min-width: 350px;
    padding: 0 1.5rem;
    background-color: var(--primary-main);
}

#desktop-view #hero {
    display: flex;
    align-items: center;
    min-height: 640px;
    height: 80vh;
}

#desktop-view #hero * {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#desktop-view #hero #hero-picture {
    flex: 1;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(hero-picture.jpg) no-repeat center;
    background-size: cover;
}

#desktop-view #hero #hero-side {
    flex-direction: column;
    height: 100%;
    width: 25vw;
    min-width: 350px;
}

#desktop-view #hero #hero-side * {
    width: 100%;
}

#desktop-view #hero #hero-side #hero-logo {
    flex: 1;
    height: 100%;
    background-color: var(--primary-main);
}

#desktop-view #lineup #group-container {
    display: flex;
}

#desktop-view #lineup #group-container div {
    flex: 1;
    transition: .3s ease;
    overflow: hidden;
}

#desktop-view #lineup #group-container div:hover, #desktop-view #lineup #group-container .selected {
    flex: 1.5;
    background-color: transparent;
}

#desktop-view #lineup #group-container div .group-header {
    background-image: url("images/groups/peru/peru-flag.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    height: 8rem;
}

#desktop-view #lineup #group-container div .group-header .group-title {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
}

#desktop-view #lineup #group-container div .group-header .group-title h1 {

    font-size: 1.5rem;

    padding: 1rem;
    margin: 0;
}

#desktop-view #lineup #group-container div .group-picture {
    background-size: cover;
    background-position: center;
    height: calc(100% - 8rem);
}

#desktop-view #lineup #group-container div .group-name {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    height: calc(100% - 8rem);
}

#desktop-view #lineup #group-container div .group-name h2 {
    font-size: 1.5rem;

    transform: rotate(-90deg);
}

#desktop-view #lineup #group-container div .group-description {
    padding: 1rem;
    min-height: 640px;
}
