#mobile-navigation-menu {
    background-color: var(--secondary-main);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 80px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1200;
}
#mobile-navigation-menu.active {
    display: flex;
}
#mobile-navigation-menu a {
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 2px solid var(--black);
}
#mobile-navigation-menu a:nth-child(1) {
    border-top: 2px solid var(--black);
}

#mobile-view header {
    display: flex;
    height: 80px;
}

#mobile-view header #header-button {
    flex: 1;
}

#mobile-view header #burger-menu {
    aspect-ratio : 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mobile-view header #burger-menu.active {
    background-color: var(--secondary-main);
}

#mobile-view #hero {
    display: flex;
    align-items: flex-end;
    min-height: 640px;
    height: 80vh;
}

#mobile-view #hero * {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#mobile-view #hero #hero-side {
    flex: 1;
    flex-direction: column;
    height: 100%;
}

#mobile-view #hero #hero-picture {
    height: 100%;
    width: 25vw;
    background: url(hero-picture.jpg) no-repeat center;
    background-size: cover;
}

#mobile-view #hero #hero-side * {
    width: 100%;
    padding: 12px 24px;
}

#mobile-view #hero #hero-side #hero-title {
    flex: 1;
    flex-direction: column;
    height: 100%;
}

#mobile-view #hero #hero-side #hero-title #hero-logo {
    flex: 1;
    height: 100%;
}
