html, body {
    --black: #060500;
    --white: #f7fdff;
    --primary-main: #f5bb05;
    --primary-contrast-text: #060500;
    --secondary-main: #1b3742;
    --secondary-contrast-text: #f7fdff;

    padding: 0;
    margin: 0;
    width: 100vw;
    background-color: var(--primary-main);
}

h1 {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: 3px 3px 0 var(--black);
    position: relative;
}

h1:after {
    content: attr(data-text);

    position: absolute;
    left: 0;
    z-index: -1;

    -webkit-text-stroke: 4px var(--black);

    font-size: 1em;
}

button {
    cursor: pointer;
    background: none;
}

header {
    position: sticky;
}

.border {
    box-sizing: border-box;
    border: 1px solid var(--black);
}

#hero #hero-side #hero-date {
    color: var(--secondary-contrast-text);
    background-color: var(--secondary-main);
}

#hero #hero-side #hero-location {
    color: var(--secondary-contrast-text);
    background-color: var(--secondary-main);
}
