html, body {
    --black: #060500;
    --white: #f7fdff;
    --primary-main: #f5bb05;
    --primary-contrast-text: #060500;
    --secondary-main: #1b3742;
    --secondary-contrast-text: #f7fdff;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;

    padding: 0;
    margin: 0;
    width: 100vw;
    background-color: var(--secondary-main);
    color: var(--secondary-contrast-text);
}

h1 {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: 0.35rem 0.35rem 0 var(--black);
    position: relative;

    transition: .1s ease;

    transform: translate(0, 0); /* Use to make work the stroke with background */
}

h1:before {
    content: attr(data-text);

    position: absolute;
    z-index: -1;

    -webkit-text-stroke: 0.5rem var(--black);
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
    color: var(--white);
    text-shadow: 0.35rem 0.35rem 0 var(--black);
    position: relative;

    transform: translate(0, 0); /* Use to make work the stroke with background */
}

h2:before {
    content: attr(data-text);

    position: absolute;
    z-index: -1;

    -webkit-text-stroke: 0.5rem var(--black);
}

a {
    text-decoration: none;

    background-color: var(--primary-main);

    padding: 0 !important;
}

a span {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: 0.2rem 0.2rem 0 var(--black);
    position: relative;

    transition: .1s ease;

    padding: 1.5rem;

    transform: translate(0, 0); /* Use to make work the stroke */
}

a span:before {
    content: attr(data-text);

    position: absolute;
    z-index: -1;

    -webkit-text-stroke: 0.25rem var(--black);
}

button {
    cursor: pointer;
    background: none;
    padding: 0 !important;
}

header {
    position: sticky;
}

.no-scroll {
    overflow: hidden;
}

.border {
    box-sizing: border-box;
    border: 0.1rem solid var(--black);
}

.black-layer {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

.burger-icon {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.burger-icon span {
    height: 0.25rem;
    width: 2rem;
    background-color: var(--white);
    border: 0.2rem solid var(--black);
    box-shadow: 0.2rem 0.2rem 0 var(--black);
    transition: .3s ease;
}
